<!DOCTYPE html>
<html>

<head>
    <title>Data User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h4 align="center">Data Donatur</h4>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>No Handphone</th>
                <th>Email</th>
                <th>Password</th>
                <th>Status</th>
                <th>Role</th>
                <th>Foto</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @php $no= 1; @endphp
            @foreach ($user as $row)
            <tr>
                <td>{{ $no++ }}</td>
                <td>{{ $row->nama }}</td>
                <td>{{ $row->no_hp }}</td>
                <td>{{ $row->email }}</td>
                <td>{{ $row->password }}</td>
                <td>{{ $row->status }}</td>
                <td>{{ $row->role }}</td>
                <td>
                    @empty($row->foto)
                    <img src="{{url('admin/images/no_photo.png')}}" alt="Profile" class="rounded-circle"
                        style="width: 40%">
                    @else
                    <img src="{{url('admin/images')}}/{{$row->foto}}" alt="Profile" class="rounded-circle"
                        style="width: 40%">
                    @endempty
                </td>
                <td>
                    <form method="POST" action="{{route('user.destroy', $row->id)}}">
                        @csrf
                        @method('DELETE')
                        <a class="btn btn-info btn-sm" title="Detail User" href="{{route('user.show', $row->id)}}">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" title="Ubah User" href="{{url('user-edit', $row->id)}}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="submit" class="btn btn-danger btn-sm" title="Hapus User"
                            onclick="return confirm('Anda yakin data dihapus?')">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </form>
                </td>
            </tr>
            @endforeach
        </tbody>
    </table>
</body>

</html>